first-model-sentiment-analysis/results/
first-model-sentiment-analysis/my_sentiment_model/
first-model-sentiment-analysis/sentiment_analysis_test.jsonl
first-model-sentiment-analysis/sentiment_analysis_train.jsonl
first-model-sentiment-analysis/sentiment_analysis_validation.jsonl
first-model-sentiment-analysis/practice.ipynb

suicide-detection/datasets/Suicide_Detection.csv
