first-model-sentiment-analysis/results/
first-model-sentiment-analysis/my_sentiment_model/
first-model-sentiment-analysis/sentiment_analysis_test.jsonl
first-model-sentiment-analysis/sentiment_analysis_train.jsonl
first-model-sentiment-analysis/sentiment_analysis_validation.jsonl
first-model-sentiment-analysis/practice.ipynb

suicide-detection/datasets/Suicide_Detection.csv
suicide-detection/datasets/Suicide_Detection.csv

suicide-detection/results/
suicide-detection/my_suicide_buddy/

mental-health/dataset/all_data.json
mental-health/dataset/all_data.jsonl
mental-health/results/
mental-health/mental_health_bud/
